.message-list {
  position: fixed;
  background: white;
  left: 25%;
  width: 75%;
  height: 100vh;
  overflow: scroll;
}

#room-name {
  border-bottom: 2px solid;
  color: hsl(0, 100%, 29%);
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 1rem 0.5rem;
  text-align: left;
}

#message {
  text-align: left;
  background: hsla(17, 0%, 93%, 0.95);
}

#message:nth-child(odd) {
  background: white;
}

.user-info {
  font-weight: bold;
}
